* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}


// Loading animations

cloud-loading-root {
  background: #5644CD;
  -webkit-animation: light 2s linear infinite alternate;
  animation: light 2s linear infinite alternate;
}

.cloud-loading {
  background: #fff;
  width: 180px;
  height: 100px;
  position: relative;
  margin: 150px auto;
  border-radius: 50px;
}
.cloud-loading:after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 50px;
  z-index: -1;
  box-shadow: -65px -30px 0 -15px #FFCA35;
  -webkit-animation: sun 2s linear infinite alternate;
  animation: sun 2s linear infinite alternate;
}
.cloud-loading:before {
  content: "";
  position: absolute;
  width: 0;
  height: 25px;
  background: #FFCA35;
  top: 40px;
  left: 20px;
  border-radius: 20px 0 0 20px;
  -webkit-animation: progress 2s linear infinite alternate;
  animation: progress 2s linear infinite alternate;
}
@-webkit-keyframes progress {
  20% {
    width: 0;
  }
  70% {
    border-radius: 20px 0 0 20px;
    width: 140px;
  }
  80%, 100% {
    width: 150px;
    border-radius: 20px;
  }
}
@keyframes progress {
  20% {
    width: 0;
  }
  70% {
    border-radius: 20px 0 0 20px;
    width: 140px;
  }
  80%, 100% {
    width: 150px;
    border-radius: 20px;
  }
}
@-webkit-keyframes sun {
  20% {
    box-shadow: -65px -30px 0 -15px #FFCA35;
  }
  80% , 100% {
    box-shadow: -25px 14px 0 -15px #FFCA35;
  }
}
@keyframes sun {
  20% {
    box-shadow: -65px -30px 0 -15px #FFCA35;
  }
  80% , 100% {
    box-shadow: -25px 14px 0 -15px #FFCA35;
  }
}
@-webkit-keyframes light {
  20% {
    background: #5644CD;
  }
  80%, 100% {
    background: #342E70;
  }
}
@keyframes light {
  20% {
    background: #5644CD;
  }
  80%, 100% {
    background: #342E70;
  }
}
